.main {
  width: 500px;
  height: 500px;
  background: url(./img/2.png) top left no-repeat;
}

.list {
  &::before {
    content: "my list";
  }
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.Nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-size: 14px;

  a {
    color: #737373;
  }
}

.page404 {
  font-size: 34px;
  text-align: center;
  line-height: 2;
}
