@import './normalize';
@import './main2.scss';
@import './common_css_file.css';
.container{
  margin: 0 auto;
  width: 1140px;
}

.Nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

  font-size: 14px;
  color: #737373;
}

.main{
  width: 500px;
  height: 500px;
  background-color: #f00;
}

.page404{
  font-size: 34px;
  text-align: center;
}